<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>Mercado Liebre</title>
    <link rel="stylesheet"href="css/styles.css" />
    <link rel="preconnect"href="https:/fonts.googleapis.com" />
    <link rel="preconnect"href="https://fonts.gstatic.com"crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>
</head>
<body class="container">
    <header>
        <nav>
            <div>
                <img 
                    src="images/logo-mercado-liebre.svg" 
                    alt="imagen logo" 
                    class="nav_logo">
                <form action="">
                    <input type="text" placeholder="Buscar" clas="nav_search_bar">
                    <!-- lugar para poner busqueda y lupa-->
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <p class= "nav_text"><!--Compra en cuotas y sin tarjeta de credito-->
                </p>
            </div>
            <div>
                <div>
                    <a hreflang="#">Ofertas</a>
                    <a hreflang="#">TiendasOficiales</a>
                    <a hreflang="#">Vender</a>
                    <a hreflang="#">Ayuda</a>
                </div>
                <div>
                    <a hreflang="#">Crea tu cuenta<i class="fa-solid fa-address-card"></i></a>
                    <a hreflang="#">Ingresar<i class="fa-solid fa-right-to-bracket"></i></a>
                    <a hreflang="#">Mis Compras<i class="fa-solid fa-basket-shopping"></i></a>
                </div>
                <div>
            </nav>
            <div class="burger-menu"><i class="fas fa-bars"></i>
            </div>
    </header>
    <main>
        <section>
            <h2>Basado en tu ultima visita</h2>
            <div>
                <img src="images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3>Cafera moulinex</h3>
            <div>
                <img src="images/img-macbook-pro-2019.jpg" alt="imagen MacBook">
                <p>$230.000</p>
                <p>20% OFF</p>
                <h3>MacBook Pro 2019</h3>
            </div>
            <div>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen Celular Samsung">
                <p>$70.500</p>
                <p>10% OFF</p>
                <h3>Samsung Galaxy S10</h3>
            </div>
            <div>
                <img src = "images/img-tv-samsung-smart.jpg" alt ="imagen smrt samsung">
                <p>$23.200</p>
                <p>5% OFF</p>
                <h3>SmartTv Samsung 43</h3>
            </div>
        </section>
        <section>
            <h2>Ofertas</h2>
            <div>
                <img src="images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </div>
            <div>
                <img src="images/img-macbook-pro-2019.jpg" alt="imagen MacBook">
                <p>$230.00</p>
                <p>20% OFF</p>
                <h3>Mac Book</h3>
            <div>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen Celular Samsung">
                <p>$70.500</p>
                <p>10% OFF</p>
                <h3>Samsung Galaxy S10</h3>
            </div>
            <div>
                <img src = "images/img-tv-samsung-smart.jpg" alt ="imagen smrt samsung">
                <p>$23.200</p>
                <p>5% OFF</p>
                <h3>SmartTv Samsung 43</h3>
            </div>
        </section>
    </main>
    <footer><!--falta centralizar-->
            <div>
                <h3><i class="fa-solid fa-credit-card"></i></h3>
                    Pago con tarjeta o efetivo
                <p>Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <h3><i class="fa-solid fa-gift"></i></h3>
                    Envio gratis desde $2.500
                <p>Solo por estar registrado en mercado liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <h3><i class="fa-solid fa-user-shield"></i></h3>
                    Seguridad de principio a fin.
                </h3>
                <p>¿No te gusta? ¡Devuelvelo! En Mercado Liebre, no hay nada que no puedas hacer, por que como cliente estas siempre protegido</p>
            </div>
        <h3>Copyright © 1990-2020 Mercado Liebre S.R.L.</h3>
    </footer>
</body>
</html>
