<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <title>Mercado Liebre</title>
        <link rel="stylesheet"href="css/styles.css" />
        <link rel="preconnect"href="https:/fonts.googleapis.com" />
        <link rel="preconnect"href="https://fonts.gstatic.com"crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>
    </head>
    <body class="container">
        <header>
            <div class="top-header">
                <div class="logo__container w-50p"> 
                    <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" class="logo"></a>
                </div>
                <form class="form w-50p" action="#" method="GET">
                    <input type="text" class="input" placeholder="Buscar productos, marcas y más"/>
                    <button class="submit" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <nav class="nav__items">
            <ul class="items">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="account-items">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
        </header>
        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>
        <main>
            <section>
                <h3>Basado en tu ultima visita</h3>
                <div class="products">
                    <article>
                        <img src = "images/img-tv-samsung-smart.jpg" alt ="imagen smrt samsung">
                        <div class="main-article product-desc-box">
                            <i class="fas fa-truck product-delivery-icon"></i>
                            <p class="price w-30p">$23.200</p>
                            <p class="discount w-70p">5% off</p>
                            <h4 class="description">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                        <div class="main-article product-desc-box">
                            <i class="fas fa-truck product-delivery-icon"></i>
                            <p class="price w-30p">$6.770</p>
                            <p class="discount w-70p">40% off</p>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-macbook-pro-2019.jpg" alt="imagen MacBook">
                        <div class="main-article product-desc-box">
                            <i class="fas fa-truck product-delivery-icon"></i>
                            <p class="price w-30p">$230.000</p>
                            <p class="discount w-70p">20% off</p>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen Celular Samsung">
                        <div class="main-article product-desc-box">
                            <i class="fas fa-truck product-delivery-icon"></i>
                            <p class="price w-30p">$70.500</p>
                            <p class="discount w-70p">10% off</p>
                            <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </article>
                </div>
            </section>
            <section>
                <h3>Articulos en Oferta</h3>
                <div class="offers">
                    <article>
                        <img src = "images/img-tv-samsung-smart.jpg" alt ="imagen smrt samsung">
                        <div class="main-article product-desc-box">
                            <i class="fas fa-truck product-delivery-icon"></i>
                            <p class="price w-30p">$23.200</p>
                            <p class="discount w-70p">5% off</p>
                            <h4 class="description">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                        <div class="main-article product-desc-box">
                            <i class="fas fa-truck product-delivery-icon"></i>
                            <p class="price w-30p">$6.770</p>
                            <p class="discount w-70p">40% off</p>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-macbook-pro-2019.jpg" alt="imagen MacBook">
                        <div class="main-article product-desc-box">
                            <i class="fas fa-truck product-delivery-icon"></i>
                            <p class="price w-30p">$230.000</p>
                            <p class="discount w-70p">20% off</p>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen Celular Samsung">
                        <div class="main-article product-desc-box">
                            <i class="fas fa-truck product-delivery-icon"></i>
                            <p class="price w-30p">$70.500</p>
                            <p class="discount w-70p">10% off</p>
                            <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <footer class="footer container">
            <div class="footer__container">
                <div class="footer__section">
                    <h3><i class="fa-solid fa-credit-card"></i></h3>
                        Pago con tarjeta o efetivo
                    <p>Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div>
                    <h3><i class="fa-solid fa-gift"></i></h3>
                        Envio gratis desde $2.500
                    <p>Solo por estar registrado en mercado liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div>
                    <h3><i class="fa-solid fa-user-shield"></i></h3>
                        Seguridad de principio a fin.
                    </h3>
                    <p>¿No te gusta? ¡Devuelvelo! En Mercado Liebre, no hay nada que no puedas hacer, por que como cliente estas siempre protegido</p>
                </div>
                <p class="footer__copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>
    </body>
</html>