<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/styles.css">
    </head>
<body>
    
    <main>
        <form action="*" method="get">
                
                <input type="text" name="usuario" placeholder="Nombre de usuario" class="texto" minlength="2">
                <input type="email" name="email" placeholder="E-mail" class="texto">
                
                <div class="texto">
                    <button type="submit">Enviar</button>
                </div>
                






        </form>

    </main>


    <footer>
        <div>
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <br>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>
        <div>
            <br>
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <br>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        <div>
            <br>
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <br>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
            <br>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
       
    </footer>
    
</body>
</html>
